.DS_Store
.idea
.vscode/*
!.vscode/tasks.json
!.vscode/settings.template.json
!.vscode/launch.template.json
!.vscode/extensions.json
node_modules
*.tgz

# playwright
/test-results/
/playwright-report/
/playwright/.cache/

# code coverage
/.nyc_output
/.coverage

# Build out
# dist/ - 保留 dist 目录以供 workspace 包使用
build
temp
tsconfig.tsbuildinfo
tsconfig.*.tsbuildinfo
.next
next-env.d.ts

# Cache
.eslintcache
